@import "../../_sass/shared";

.#{$bemNs}-game {

  height: 100%;
  @include flexcolumn-container-left-top;

  // presunute do Header.css
  //&-header {
  //  text-align: center;
  //  width: 100%;
  //}

  &-board {
    flex: 1;
    @include flexcolumn-container;
    width: 100%;
    //background: silver;
  }

  &-table {
    //width: 100%;
    //height: 100%;
    //width: auto;

    //max-width: 600px;
    //max-height: 600px;

    table-layout: fixed;
    background: white;

    td {
      line-height: 1;
      text-align: center;
      //padding: .75em 0;
      width: 2em;
      height: 2em;

      padding: 0;
      color: black;

      //padding: .5em;

      text-transform: uppercase;
      border: 1px solid darken(#ffdb91, 20%);
      font-size: 1.5em;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      font-family: $font-family-monospace;;

      &._marked {
        background: darken($color-saris, 15%);
        color: #ffdb91;
      }
      &._selected {
        //background: lighten($color-saris, 45%);
        background: #ddd;
        color: black;
      }
    }
  }

  &-words {
    padding-left: 1em;

    button {
      // display: block;
      margin-bottom: 5px;
    }
  }

  &-footer {
    text-align: center;
    width: 100%;
  }
}