.cross-game {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start; }
  .cross-game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
  .cross-game-table {
    table-layout: fixed;
    background: white; }
    .cross-game-table td {
      line-height: 1;
      text-align: center;
      width: 2em;
      height: 2em;
      padding: 0;
      color: black;
      text-transform: uppercase;
      border: 1px solid #ffba2b;
      font-size: 1.5em;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
      .cross-game-table td._marked {
        background: #8f1807;
        color: #ffdb91; }
      .cross-game-table td._selected {
        background: #ddd;
        color: black; }
  .cross-game-words {
    padding-left: 1em; }
    .cross-game-words button {
      margin-bottom: 5px; }
  .cross-game-footer {
    text-align: center;
    width: 100%; }
