@import "../../_sass/shared";

.#{$bemNs}-root {
  padding: 1em;
  height: 100vh;
  //@include flexrow-container-left-top;

  &-selector {
    height: 100%;
    @include flexcolumn-container;

    img {
      margin-bottom: 2em;
    }

    button {
      background: white;
      color: black;
    }
  }
}