.cross-root {
  padding: 1em;
  height: 100vh; }
  .cross-root-selector {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    .cross-root-selector img {
      margin-bottom: 2em; }
    .cross-root-selector button {
      background: white;
      color: black; }
