.cross-board {
  background: #efefef; }
  .cross-board-table {
    table-layout: fixed; }
    .cross-board-table td {
      line-height: 1;
      text-align: center;
      padding: .75em;
      text-transform: uppercase;
      border: 1px solid gray;
      font-size: 1.1em;
      font-weight: bold; }
      .cross-board-table td._marked {
        background: #ffc; }
